.app {
	text-align: center;
	height: 100vh;
	display: grid;
	grid-template-rows: auto auto 1fr;
}

h1 {
	font-size: 5rem;
	font-weight: 100;
	margin: 20px;
	/*font-family: 'Titillium Web', sans-serif;*/
	font-family: 'Libre Barcode 39 Text', cursive;
	/*font-family: 'Dosis', sans-serif;*/
}

.loading h2 {
	text-align: center;
	font-weight: 100;
	font-size: 6rem;
	font-family: 'Dosis', sans-serif;
}